@charset "utf-8";
/*导航*/
#nav{
    position:relative;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #EEEEEE;
    height: 40px;
}
.nav {
    position:relative;
    padding-top: 10px;
    height:40px;
}
.nav li {
    float:left;
    display:inline;
    height:26px;
    line-height:26px;
    width: 20%;
}
.nav li a {
    padding:0 10px;
    font-size:14px;
    color:#6b6b6b;
    font-weight:700;
    text-decoration:none;
}
.nav li a:hover {
    text-decoration:none;
}
.nav li.cur a {
    color:#329519;
    width:100px;
}
.nav .nav-line {
    position:absolute;
    border-bottom:2px solid #329519;
    height:0;
    overflow:hidden;
    left:0;
    bottom:0;
    width: 20%;
}

/*end*/

.contents {
    margin:0 auto;
    z-index:3;
}